body {
	font-family: 'poppins', sans-serif;
	min-height: 100vh;
	background: linear-gradient(to bottom, var(--brand-start), var(--brand-end));
}

:root {
	--brand-start: #132742; /* Darker Blue */
	--brand-end: #1f3a5f; /* Lighter Blue */
	--primary: #E9E7FD;
	--accent: #A31621;
	--dark: #09080D;
	--muted: #45424D;
}

